<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    {% block stylesheets %}{% endblock %}
</head>
<body>
<div class="container-fluid">
    <header class="pt-5">
        {% block header %}
            <h1>Formation Symfony <small>POEC Lille</small></h1>
        {% endblock %}
        <hr/>
    </header>
    <nav>
        <ul class="nav">
            <li class="nav-item">
                <a href="{{ path('home_index') }}" class="nav-link">Accueil</a>
            </li>
            <li>
                <a href="{{ path('presentation_index') }}" class="nav-link">Présentation</a>
            </li>
            <li>
                <a href="{{ path('twig_index') }}" class="nav-link">Twig</a>
            </li>
            <li>
                <a href="{{ path('video_index') }}" class="nav-link">Video</a>
            </li>
            <li>
                <a href="{{ path('autowiring_index') }}" class="nav-link">Autowiring</a>
            </li>
            <li>
                <a href="{{ path('orm_index') }}" class="nav-link">ORM</a>
            </li>
            <li>
                <a href="{{ path('form_index') }}" class="nav-link">Formulaire</a>
            </li>
            <li>
                <a href="{{ path('translate_index') }}" class="nav-link">Traduction</a>
            </li>
            <li>
                <a href="{{ path('service_index') }}" class="nav-link">Service</a>
            </li>
            <li>
                <a href="{{ path('service_formulaire') }}" class="nav-link">Service Uploader</a>
            </li>

            {% if not app.user %}
                <li>
                    <a href="{{ path('authentication_login') }}" class="nav-link">Connexion</a>
                </li>
            {% else %}
                <li>
                    <a class="nav-link disabled"> - </a>
                </li>
                <li>
                    <a href="{{ path('profile_index') }}" class="nav-link">Profil</a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li>
                        <a href="{{ path('admin_index') }}" class="nav-link">Zone Administrative</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_information') }}" class="nav-link">Admin Information</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_voter') }}" class="nav-link">Admin Voter</a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_SUPERADMIN') %}
                    <li>
                        <a href="{{ path('admin_useless') }}" class="nav-link">Admin Useless</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_useless_bis') }}" class="nav-link">Admin Useless Bis</a>
                    </li>
                {% endif %}
                <li>
                    <span class="nav-link disabled">Bonjour {{ app.user.username }}</span>
                </li>
                <li>
                    <a href="{{ path('authentication_logout') }}" class="nav-link">Déconnexion</a>
                </li>
            {% endif %}
        </ul>
    </nav>

    {#
        - Ne pas rendre visible les urls pour la parties administrative ("/admin") et l'url du /profile quand on est pas connecté
        - Quand je suis connecté en ROLE_USER je ne dois voir que l'url /profile
        - quand je suis ROLE_ADMIN à toutes les url sauf les 2 /useless
        - quand je suis ROLE_SUPERADMIN je vois toutes les urls !!!
    #}

{# {{ dump(app) }} #}
    {% block body %}{% endblock %}
    <footer>
        <hr/>
        <p class="small text-center">Dawan FOAD - Symfony - Novembre 2020</p>
    </footer>
</div>
{% block javascripts %}{% endblock %}
</body>

</html>
